<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TempFolder>F:\Screenshots\temp</TempFolder>
  <Threads>

    <!-- ScreenshotThread disabled so you get a chance to set the RootDirectory as you desire, once done, you can re-enable them -->

    <!-- DELETE THIS LINE ONCE YOU HAVE ENTERED PROPER ROOT DIRECTORIES FOR EACH THREAD

    <ScreenshotThread>
      <Name>Resetera PC 2019</Name>
      <Url>https://www.resetera.com/threads/2019-pc-screenshot-thread.91108/</Url>
      <RootDirectory>F:\Screenshots\resetera\PC_2019</RootDirectory>
    </ScreenshotThread>
    <ScreenshotThread>
      <Name>Resetera Consoles 2019</Name>
      <Url>https://www.resetera.com/threads/2019-console-screenshot-thread-read-rules-in-op.90673</Url>
      <RootDirectory>F:\Screenshots\resetera\Consoles_2019</RootDirectory>
    </ScreenshotThread>
    <ScreenshotThread>
      <Name>Neogaf PC 2019</Name>
      <Url>https://www.neogaf.com/threads/2019-pc-screenshot-thread.1470464</Url>
      <RootDirectory>F:\Screenshots\neogaf\PC_2019</RootDirectory>
    </ScreenshotThread>
    <ScreenshotThread>
      <Name>Neogaf Consoles 2019</Name>
      <Url>https://www.neogaf.com/threads/2019-console-screenshot-thread-read-rules-in-op.1470666</Url>
      <RootDirectory>F:\Screenshots\neogaf\Consoles_2019</RootDirectory>
    </ScreenshotThread>

    DELETE THIS LINE ONCE YOU HAVE ENTERED PROPER ROOT DIRECTORIES FOR EACH THREAD   -->

  </Threads>
</Settings>